alembic==0.8.3
aniso8601==1.1.0
appdirs==1.4.4
appnope==0.1.0
black==20.8b1
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
coverage==5.3
coveralls==1.1
decorator==4.0.4
docopt==0.6.2
Flask==1.1.2
Flask-HTTPAuth==2.7.0
Flask-Migrate==2.5.3
Flask-RESTful==0.3.8
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.4
gnureadline==6.3.3
gunicorn==20.0.4
idna==2.10
ipython==4.0.0
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.11.2
Mako==1.0.3
MarkupSafe==0.23
mypy-extensions==0.4.3
newrelic==5.22.1.152
path.py==8.1.2
pathspec==0.8.1
pbr==1.8.1
pexpect==4.0.1
pickleshare==0.5
psycopg2-binary==2.8.6
ptyprocess==0.5
py==1.4.30
python-dateutil==2.4.2
python-editor==0.4
python-gnupg==0.4.6
pytz==2015.7
PyYAML==5.4
regex==2020.11.13
requests==2.25.0
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.3.20
sqlalchemy-migrate==0.10.0
sqlparse==0.1.18
Tempita==0.5.2
toml==0.10.2
traitlets==4.0.0
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.26.2
Werkzeug==1.0.1
